<log4net>
	<!-- FileAppender để ghi log vào file -->
	<appender name="FileAppender" type="log4net.Appender.RollingFileAppender"> 
		<file value="Logs/myapp-log.txt" />
		<appendToFile value="true" />
		
		
		<!-- Quay vòng theo cả Size + Date -->
		<rollingStyle value="Composite" />


		<!-- Thêm ngày vào tên file -->
		<datePattern value="yyyy-MM-dd&quot;.txt&quot;" />
		<staticLogFileName value="false" /> 

		
	
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="5MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	
	
	
	<root>
		<level value="INFO" /> <!-- mức độ log, ghi log INFO, WARN, ERROR, FATAL	-->
		<appender-ref ref="FileAppender" />
	</root>
</log4net>	